.env
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.idea/
.vscode/
*.log
*.lock
storage_list.txt
check_ids.py
.vercel
studio_cache.json
buffer_quota.json
pending_broadcasts/
media_pulses/
thumb_temp_*.jpg
vertical_*.mp4
optimized_*.mp4
optimized_*.jpg
screenshot_*.jpg
square_*.jpg
story_*.jpg
vid_*.mp4
image_pulse_*.jpg
